@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Outfit&display=swap');

/* Default CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'DM Serif Display', serif;
    font-family: 'Outfit', sans-serif;
}

 :root{
    --mainColor: #04423F;
    --mainColorLight: #66BEBA;
    --secondaryColor: #D4CDFF;
    --textColor: #FFFFFF;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: (--mainColor) !important;
    color: #FFFFFF !important;
}

h1 {
    padding: 0;
    margin: 0;
    line-height: 0;
}